<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to gadgeto, to hold the jar of your imagination!</title>
</head>
<body>

<form action="/submittedData" method="post">


    Name: <input type="text" name="name"><br>
    Description: <input type="text" name="description"><br>
    Genre: <input type="text" name="genre"><br>
    Time Goal: <input type="text" name="timegoal"><br>

    <input type="submit" value="Submit"><br>




</form>

<form action="/searchPage" method="get">

    <input type="submit" value="Search"><br>


</form>



</body>
</html>